<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <h1 class="navbar-brand">Dashboard</h1>
    </div>
</nav>
{{!-- create new post card that appears when the + New Post button is clicked --}}
<div class="card" id="create-post" style="display: none;">
  <h5 class="card-header">Create New Post</h5>
  <div class="card-body">
<form class="new-post-form">
    <div class="mb-3">
        <label for="input-title" class="form-label">Title</label>
        <input type="text" class="form-control" id="input-title">
    </div>
    <div class="mb-3">
        <label for="input-content" class="form-label">Content</label>
        <input type="text" class="form-control" id="input-content">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
  </div>
</div>
<br>

{{!-- Display all of user's posts --}}
{{#if posts.length}}

{{#each posts as |post|}}
<button class='no-button' type="button" id="edit-post-button">
<div class="card ">
  <div class="card-header ">
    {{post.title}}
  </div>
  <div class="card-body">
    <h5>{{post.date}}</h5>
    <p class="card-text">{{post.content}}</p>
  </div>
</div>
</button>

{{!-- Edit Post card that appears when a user's blog post is clicked --}}
<div class="card" id='edit-post' style="display: none;">
  <h5 class="card-header">Edit Post</h5>
  <div class="card-body">
<form class="edit-post-form" data-id="{{post.id}}">
    <div class="mb-3">
        <label for="edit-title" class="form-label">Title</label>
        <input type="text" class="form-control" id="edit-title" value="{{post.title}}" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="edit-content" class="form-label">Content</label>
        <input type="text" class="form-control" id="edit-content" value="{{post.content}}">
    </div>
    <button type="submit" class="btn btn-primary" id="update-button" >Update Post</button>
    <button type="button" class="btn btn-primary" id="delete-button" data-id="{{post.id}}">Delete</button>
</form>
  </div>
</div>
<br>
{{/each}}

{{/if}}

<div class="d-grid gap-2 col-3 mx-auto">
  <button class="btn btn-primary" type="button" id="new-post">+ New Post</button>
</div>

<script src="./js/dashboard.js"></script>